@media screen and (max-width: 992px) {
  .nav {
    padding: 10px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: $LightGrayishBlue;
    .nav-content {
      width: 95%;
      padding-bottom: 0;
      border-bottom: 0 !important;
      .brand-menu {
        display: flex;
        align-items: center;
        .menu {
          display: block;
          img {
            margin-right: 10px;
            width: 20px;
          }
        }
        .brandName {
          font-size: 25px;
        }
        ul.menu-list-items {
          z-index: 999;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          height: 100vh;
          width: 60%;
          background-color: $LightGrayishBlue;
          transform: translateX(-100%);
          transition: 230ms;
          .close-menu-mobile {
            margin-bottom: 35px;
            display: block;
            img {
              width: 15px;
            }
          }
          li {
            margin-top: 20px;
          }

          &.show {
            transform: translateX(0);
          }
        }
      }
    }

    .cart-avatar {
      .cart-icon {
        img {
          width: 20px !important;
        }
      }
      .avatar {
        width: 30px !important;
        margin-left: 20px;
      }
    }
  }

  .main-content {
    flex-direction: column;
    width: 100% !important;
    .images {
      display: none !important;
    }

    .mobile-menu-overlay {
      background: black;
      opacity: 75%;
      width: 40%;
      height: 100vh;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 999;
      display: none;
      &.show {
        display: block;
      }
    }

    .mobile-slider {
      display: block !important;
      width: 100%;
      .mobile-images {
        display: flex;
        align-items: center;
        position: relative;
        max-width: 450px;
        .mobile-sliderbtn {
          background-color: red;
          aspect-ratio: 1/1;
          width: 40px;
          border-radius: 100%;
          display: grid;
          place-items: center;
          font-size: 25px;
          font-weight: bold;
          background-color: $White;
          color: black;
          position: absolute;
          user-select: none;
          transition: 200ms;
          &:active {
            transform: scale(0.8);
          }
          &-prev {
            left: 5px;
          }
          &-next {
            right: 5px;
          }
        }
        .mobile-slider-img {
          img {
            width: 100%;
            max-width: 450px;
          }
        }
      }
    }

    .main-info {
      padding: 20px;
      margin-bottom: 1rem;
      .main-title {
        font-size: 25px !important;
      }
      .text-content {
        font-size: 13px !important;
      }

      .prices {
        display: flex;
        justify-content: space-around;
      }

      .qtty {
        flex-direction: column;
        .counting,
        .add-to-cart {
          width: 100% !important;
        }
        // .add-to-cart{
        // }
      }
    }
  }
}
