<div class="desktopSlider-content">

    <div class="close">
        <span>
            &times;
        </span>
    </div>

    <div class="desktopSlider-mainImage">
        <div class="desktopSlider-btn prv">‹</div>
            <img src="../images/image-product-1.jpg" alt="">
        <div class="desktopSlider-btn nxt">›</div>
    </div>
    <div class="desktopSlider-ListImages">
        <img class="desktopSlider-miniImg effect" data-item="1" src="../images/image-product-1-thumbnail.jpg" alt="">
        <img class="desktopSlider-miniImg " data-item="2" src="../images/image-product-2-thumbnail.jpg" alt="">
        <img class="desktopSlider-miniImg " data-item="3" src="../images/image-product-3-thumbnail.jpg" alt="">
        <img class="desktopSlider-miniImg " data-item="4" src="../images/image-product-4-thumbnail.jpg" alt="">
    </div>
</div>