<div class="main-content">
    <div class="images">
        <div class="main-img">
            <img src="../images/image-product-1.jpg" alt="">
        </div>
        <div class="img-list">
            <img class="active" src="../images/image-product-1.jpg" alt="">
            <img src="../images/image-product-2.jpg" alt="">
            <img src="../images/image-product-3.jpg" alt="">
            <img src="../images/image-product-4.jpg" alt="">
        </div>
    </div>

    <div class="main-info">
        <div class="details">
            <b id="company-name">Sneaker Company</b>
            <h1 class="main-title">Fall Limited Edition Sneakers</h1>
            <p class="text-content">
                These low-profile sneakers are your perfect casual wear companion. Featuring a 
                durable rubber outer sole, they’ll withstand everything the weather can offer.
            </p>

            <div class="prices">
                <h1 class="new-price">$125.00  <span class="sale">50%</span></h1>
                <h1 class="old-price">$250.00</h1>
            </div>

            <div class="qtty">
                <div class="counting">
                    <span id="minus">-</span>
                    <span id="counter">0</span>
                    <span id="plus">+</span>
                </div>
                <button class="add-to-cart">  
                    <img src="../images/icon-cart.svg" alt="">
                    Add to cart
                </button>
            </div>
        </div>
    </div>
</div>