<div class="nav-content">
    <div class="brand-menu">
        <h1 class="brandName">sneakers</h1>
        <ul>
            <li><a href="#">Collections</a></li>
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    
    <div class="cart-avatar">
        <div class="cart-card">
            <div class="cart-title">
                <h1>Cart</h1>
            </div>
            <div class="cart-content">
                <p class="empty-txt">Your card is empty.</p>
                <div class="items cartItems">
                    <div class="cart-img">
                        <img src="../images/image-product-1-thumbnail.jpg" alt="">
                    </div>
                    <div class="cart-items">
                            <p class="des">Fall Limited Edition Sneakers</p>
                            <p class="qtty-prices">$125.00 x <span id="numberOfqtty">0</span> <span class="total">$0</span></p>
                    </div>
                    <div class="trash">
                        <img src="../images/icon-delete.svg" alt="">
                    </div>
                </div>
                <button id="checkoutBtn">
                    Checkout
                </button>
            </div>
        </div>
        <div class="cart-icon">
            <img class="nav-icon cart-icon-img" src="../images/icon-cart.svg" alt="">
            <div class="notificationCartNumber">0</div>
        </div>
        <img class="nav-icon avatar" src="../images/image-avatar.png" alt="">
    </div>
</div>